/* .inline-block {
  display: inline-block;
  vertical-align: top;
}

.logo {
  width: 23%;
  padding: 1%;
  text-align: center;
}

nav {
  width: 73%;
  padding: 1%;
}

ul {
  width: 50%;
  margin-left: auto;
}

ul.footer-ul {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.heroImg {
  height: 600px;
  padding: 25px;
}

.content {
  width: 500px;
  margin: 0 auto;
}

footer {
  background-color: #373738;
}
*/
header {
  text-align: center;
  background-image: linear-gradient(
    90deg,
    #ffe9e9,
    #ffffc8,
    #fff0dd,
    #ffe9e9,
    #ffffff
  );
  padding: 0.5%;
}

.innerBody {
  /* background-color: red; */
}

footer {
  background-color: green;
  height: 10%;
}

.inline-block {
  display: inline-block;
  vertical-align: top;
}

.sidenav {
  height: 80%;
  background-color: #ffffc8; /* Black */
  float: left;
  width: 20%;
}

/* The navigation menu links */
.sidenav a {
  text-align: center;
  padding: 11%;
  display: block;
  cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  background-color: #f5ff7e;
}

.navHeader {
  text-align: center;
  padding-top: 20%;
  padding-bottom: 20%;
}

.title {
  font-size: 18px;
}

.caption {
  font-size: 14px;
}

.aboutMe {
  /* float:left;
    width:70%; */
  /* width: 100%; */

  height: 80%;
  background-color: gray;
}

.leftSide {
  width: 40%;
  height: 100%;
  background-color: white;
  float: left;
  text-align: center;
}

.rightSide {
  width: 40%;
  height: 100%;
  background-color: blue;
  float: right;
  text-align: right;
}

.picOfMeParent {
  width: 220px;
  height: 220px;
  margin-top: 20%;
  margin-left: 20%;
  background-color: pink;
}

.picOfMe {
  width: 220px;
  height: 220px;
  padding-top: 15%;
  padding-left: 15%;
}
